{"data":{"database":"laravel","sql":"insert into `users` (`name`, `email`, `email_verified_at`, `password`, `remember_token`, `mobile`, `updated_at`, `created_at`) values ('Benjamin Grimes', 'lance01@example.net', '2022-11-15 10:58:54', '$2y$10$92IXUNpkjO0rOQ5byMi.Ye4oKoEa3Ro9llC/.og/at2.uheWG/igi', 'h68PaYLAsy', '1-573-846-9123', '2022-11-15 10:58:55', '2022-11-15 10:58:55')","duration":"570μs"}}
